@{
    ViewBag.Title = "Forgot Password Confirmation";
}
<link href="~/assets/css/styles.css" rel="stylesheet" />

<center>
    <section>
        <div class="row">
            <div class="col-md-12 col-lg-5 centerpage">
                <div class="white-box bg-white space pinkborder">
                    <div class="form-group">
                        <img src="/assets/images/logo1.png" alt="">
                    </div>
                    <div class="section-title form-group">
                        <h2 class="section-title">@ViewBag.Title</h2>
                    </div>
                    <p style="text-align:center" class="form-group">
                        Please check your email to reset your password.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <div class="text-center" style="color: #FE0B75;">Copyrights © @DateTime.Now.Year. All Rights Reserved.</div>
</center>
