@{
    ViewBag.Title = "Reset password confirmation";
}


<style>
    .login-main {
        height: 400px !important;
        margin-left: 32%;
    }

    input, select, textarea {
        max-width: 320px;
    }

    body {
        padding-top: 0px;
    }
</style>
<div class="main admin login" style="height: 671px; padding-top: 167px;">
    <div class="container-fluid padding-zero">
        <div class="login-main" style="height:260px !important; margin:0 auto;">
            <div class="form-group title col-xs-12 padding-zero">
                <div class="loginlogo"></div>
            </div>
            <div class="">
                <hr />
            </div>
            <div>
                <h3>Reset password confirmation</h3>
                <p>
                    Your password has been reset. Please @Html.ActionLink("click here", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })  to log in
                </p>
            </div>
        </div>
        <div class="col-xs-12 text-center copyrights">Copyrights © @DateTime.Now.Year. All Rights Reserved.</div>
    </div>
</div>