<!DOCTYPE html>
<html lang="en">
<body>
    <p>Hi {Name},</p>

    <p>
        An Inventory app account has been available for you.
        <br />
        Access your new account using a  web browser. Below is your login information.
    </p>
    <p>
        <b>Username: {UserName}</b>
        <br />
        <b>Password: {Password}</b>        
    </p>
    <p>
        Click the button below to visit your account page and login.        
    </p>
    <br />
    <a href="{LoginUrl}">LOGIN TO YOUR ACCOUNT</a>
    <br /><br />
    <p>Best Regards, <br />The Inventiry Team <br />{SiteUrl}</p>
</body>
</html>