
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="form-group">
    <div class="row">
        <div class="col-lg-3 col-md-5">
            <label>
                Upload Photos
            </label>
        </div>
        <div class="col-lg-5 col-md-7" style="background-color: #f7f5f5; padding: 15px 0px 15px 0px; border-radius:10px;">
            <div class="uploadFileBottomArea">
                <div class="uploadButton">
                    <div class="btn border-pink btnFileUpload" style="padding:0; width:250px;">
                        <label class="uploadFileLable">
                            UPLOAD PRODUCT PHOTOS <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                            <input type="file" id="fUpload" multiple class="custom-file-input" />
                        </label>
                    </div>
                </div>
                <label id="spnDocuments">(Only image type with max 2 MB size file allowed.)</label>
                <div class="required" id="imageValidDiv" style="display:none">
                    <label id="imageValidation" class="field-validation-error">.</label>
                </div>
                <span class="text-danger" id="spnDocuments" style="display:none;"></span>
            </div>
            <br />
            <br />
            <div id="divFiles">

            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
     var loFileUploadUrl = '@Url.RouteUrl("Admin_default", new { controller = "Advertisement", action = "FileUpload" })';
     var loGetUploadedFileUrl = '@Url.RouteUrl("Admin_default", new { controller = "Advertisement", action = "getUploadedFile" })';
     var loDeleteUploadedFileUrl = '@Url.RouteUrl("Admin_default", new { controller = "Advertisement", action = "DeleteUploadedFile" })';

    function uploadFile() {
        $("#hdnUploadProductId").val();
        $("#imageValidDiv").hide();
        $('#fUpload').val('');
        $("#divFiles").html('');
        $.ajax({
            url: loGetUploadedFileUrl,
            type: "GET",
            content: "application/json; charset=utf-8",
            dataType: "json",
            async: false,
            success: function (result) {

                if (result) {
                    for (var i = 0; i < result.fileNameWithPath.length; i++) {

                        var deleteclick = "deleteFile(" + i + ")";
                        //var appendData = '<div class="col-md-3" style="display:inline-block; padding:0; margin:5px 20px;"><img src="/Images/Product/' + prdId + "/" + result.fileNameWithPath[i].Value + '" /><br><a href="/Images/Product/' + prdId + "/" + result.fileNameWithPath[i].Value + '" target="_blank" style="color:#E28E16">View</a> <i style="float: right; cursor:pointer;" class="fa fa-close" onclick="deleteFile(" ' + result.fileNameWithPath[i].Value + ' ")"></i></div>';
                        var appendData = "<div class='col-md-3' style='display:inline-block; padding:0; margin:5px 20px;'><input type='hidden' value='" + result.fileNameWithPath[i].Value + "' id='imgName" + i + "'><img src='/Images/Product/" + prdId + '/' + result.fileNameWithPath[i].Value + "' /><br><a href='/Images/Product/" + prdId + '/' + result.fileNameWithPath[i].Value + "' target='_blank' style='color:#E28E16'>View</a> <i style='float: right; cursor:pointer;' class='fa fa-close textGreycolor' onclick='" + deleteclick + "' )'></i></div>";
                        $("#divFiles").append(appendData);
                    }
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                if (errorThrown === "abort") {
                    return;
                }
                else {
                    alert(errorThrown);
                }
            }
        });
    }

    function deleteFile(imageNameId) {
        var imageName = $("#imgName" + imageNameId).val();
        $.ajax({
            type: "POST",
            url: loDeleteUploadedFileUrl,
            content: "application/json; charset=utf-8",
            //dataType: "json",
            data: {
                Id: $("#hdnUploadProductId").val(),
                filename: imageName
            },
            success: function (lodata) {
                if (lodata !== null) {
                    var prdId = $("#hdnUploadProductId").val();
                    uploadFile(prdId);
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                if (errorThrown === "abort") {
                    return;
                }
                else {
                    alert(errorThrown);
                }
            }
        });
    }

    $(document).ready(function () {
        $('#fUpload').change(function () {
            var fp = $("#fUpload");
            var lg = fp[0].files.length;
            var items = fp[0].files;
            var fileData = new FormData();
            var isValidAllFiles = true;
            if (lg > 0) {
                for (var i = 0; i < lg; i++) {
                    var fileSize = items[i].size;
                    var ext = items[i].name.split(".");
                    ext = ext[ext.length - 1].toLowerCase();

                    var arrayExtensions = ["jpg", "jpeg", "png", "bmp", "gif", "JPG", "JPEG", "PNG"];

                    if (fileSize > 2097152) {
                        $('#imageValidation').html('File size must not be more than 2 MB');
                        $('#fUpload').val('');
                        $("#imageValidDiv").show();
                        isValidAllFiles = false;
                    }
                    else if (arrayExtensions.lastIndexOf(ext) == -1) {
                        $('#imageValidation').html('Please upload only image type file.');
                        $('#fUpload').val('');
                        $("#imageValidDiv").show();
                        isValidAllFiles = false;
                    }
                    else {
                        fileData.append($("#hdnUploadProductId").val(), items[i]);
                    }
                }
                if (isValidAllFiles) {
                    // Adding one more key to FormData object
                    fileData.append('username', 'Manas');
                    $.ajax({
                        url: loFileUploadUrl,
                        type: "POST",
                        contentType: false, // Not to set any content header
                        processData: false, // Not to process data
                        async: false,
                        data: fileData,
                        success: function (result) {
                            if (result.isSuccess) {
                                for (var i = 0; i < result.fileNameWithPath.length; i++) {
                                    var imgRandomId = Math.floor(Math.random() * 999999);
                                    var deleteclick = "deleteFile(" + imgRandomId + ")";
                                    //var appendData = "<div class='col-md-3' style='display:inline-block; padding:0; margin:5px 20px;'>
                                    <img src='/Images/Product/" + $(' # hdnUploadProductId').val() + ' / ' + result.fileNameWithPath[i].Item2 + "' /> <br><a href='/Images/Product/" + $('#hdnUploadProductId').val() + '/' + result.fileNameWithPath[i].Item2 + "' target='_blank' style='color:#E28E16'>View</a> <i style='float: right; cursor:pointer;' class='fa fa-close' onclick='deleteFile('" + result.fileNameWithPath[i].Item2 + "')' ></i ></div > " ;
                                    var appendData = "<div class='col-md-3' style='display:inline-block; padding:0; margin:5px 20px;' ><input type='hidden' value='" + result.fileNameWithPath[i].Item2 + "' id='imgName" + imgRandomId + "'><img src='/Images/Product/" + $('#hdnUploadProductId').val() + '/' + result.fileNameWithPath[i].Item2 + "' /><br><a href='/Images/Product/" + $('#hdnUploadProductId').val() + '/' + result.fileNameWithPath[i].Item2 + "' target='_blank' style='color:#E28E16'>View</a> <i style='float: right; cursor:pointer;' class='fa fa-close' onclick='" + deleteclick + "')'></i></div>";
                                    $("#divFiles").append(appendData);
                                }
                            } else {
                                $("#spnDocuments").css("display", "block");
                                $('#spnDocuments').html(result.outPutMessage);
                            }
                            $('#fUpload').val('');
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            if (errorThrown = = = "abort") {
                                return;
                            }
                            else {
                                alert(errorThrown);
                            }
                        }
                    });
                }
            }
        });
    });
</script>